image:
  repository: DOCKER_HUB_USERNAME/smartapi
  tag: latest
  pullPolicy: always

service:
  port: 8080
  targetPort: 8080

replicaCount: 1

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
